{% include base_path %}

<!-- start custom head snippets -->

<meta name="msvalidate.01" content="32AFFAA3C2CB8332B04E7A3055CFD370" />
<meta name="google-site-verification" content="qB3-i3CWKcsewY-Ne66hCIT4tUfkzSjdLUBljxDAnwI" />
<meta name="keywords" content="张钧洋, Junyang Zhang, Zhang Junyang, Junyang, USTC">
<meta name="description" content="张钧洋(Junyang Zhang)的个人主页。张钧洋是中国科学技术大学(USTC)在读博士生，研究方向是智能模型推理优化，在顶级会议和期刊上发表过多篇论文，参与多个校企合作项目。">

<link rel="apple-touch-icon" sizes="57x57" href="{{ base_path }}/images/apple-touch-icon-57x57.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="60x60" href="{{ base_path }}/images/apple-touch-icon-60x60.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="72x72" href="{{ base_path }}/images/apple-touch-icon-72x72.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="76x76" href="{{ base_path }}/images/apple-touch-icon-76x76.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="114x114" href="{{ base_path }}/images/apple-touch-icon-114x114.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="120x120" href="{{ base_path }}/images/apple-touch-icon-120x120.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="144x144" href="{{ base_path }}/images/apple-touch-icon-144x144.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="152x152" href="{{ base_path }}/images/apple-touch-icon-152x152.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png?v=M44lzPylqQ">
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-32x32.png?v=M44lzPylqQ" sizes="32x32">
<link rel="icon" type="image/png" href="{{ base_path }}/images/android-chrome-192x192.png?v=M44lzPylqQ" sizes="192x192">
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-96x96.png?v=M44lzPylqQ" sizes="96x96">
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-16x16.png?v=M44lzPylqQ" sizes="16x16">
<link rel="manifest" href="{{ base_path }}/images/manifest.json?v=M44lzPylqQ">
<link rel="mask-icon" href="{{ base_path }}/images/safari-pinned-tab.svg?v=M44lzPylqQ" color="#000000">
<link rel="shortcut icon" href="/images/favicon.ico?v=M44lzPylqQ">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="{{ base_path }}/images/mstile-144x144.png?v=M44lzPylqQ">
<meta name="msapplication-config" content="{{ base_path }}/images/browserconfig.xml?v=M44lzPylqQ">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>


<!-- Support for MatJax -->
<script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>


<script>

document.addEventListener('copy', function (e) {

    const MIN_LENGTH = 400;
    const SIGNATURE = '\n\n-------- \n本文转载自 [Junyang Zhang｜张钧洋 主页](https://jzhang.tech/)，保留所有权利。';
    const TIP_MESSAGE = '（已自动附加转载声明）';

    const selection = window.getSelection().toString().trim();
    if (!selection) return; 

    const contentLength = Array.from(selection).length; 

    if (contentLength < MIN_LENGTH) {
        console.log(`复制内容较短（${contentLength}/${MIN_LENGTH}字符），不附加声明`);
        return;
    }

    const textToCopy = `${selection}${SIGNATURE}${TIP_MESSAGE}`;

    e.preventDefault();
    if (navigator.clipboard) { 
        navigator.clipboard.writeText(textToCopy)
            .then(() => console.log(`已复制大段内容（${contentLength}字符），附加声明成功`));
    } else if (e.clipboardData) { 
        e.clipboardData.setData('text/plain', textToCopy);
    }

    if (document.queryCommandSupported('copy')) {
        document.execCommand('copy', false, {
            html: htmlToCopy, 
            text: textToCopy 
        });
    }
});
    
</script>

    <!-- 禁用右键、选中、快捷键、事件-->
<!--    <script>
        document.addEventListener('contextmenu', function (e) {
            e.preventDefault();
        });
        document.addEventListener('selectstart', function (e) {
            e.preventDefault();
        });
        document.addEventListener('keydown', function (e) {
            if ((e.ctrlKey || e.metaKey) && (e.key === 'c' || e.key === 'u' || e.key === 'p')) {
                e.preventDefault();
            }
        });
        document.addEventListener('copy', function (e) {
            e.preventDefault();
        });
    </script> -->

<!--     <script>
        document.addEventListener('keydown', function (e) {
            if ((e.ctrlKey || e.metaKey) && (e.key === 'c' || e.key === 'u' || e.key === 'p')) {
                e.preventDefault();
            }
        });
        document.addEventListener('copy', function (e) {
            e.preventDefault();
        });
    </script> -->

<!-- end custom head snippets -->
