{% include base_path %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>

<section class="page__share">
  {% if site.data.ui-text[site.locale].share_on_label %}
    <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</h4>
  {% endif %}

  <a href="https://x.com/intent/post?text={{ base_path }}{{ page.url }}" class="btn btn--x" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} X"><i class="fab fa-x-twitter" aria-hidden="true"></i><span> X (formerly Twitter)</span></a>

  <a href="https://www.facebook.com/sharer/sharer.php?u={{ base_path }}{{ page.url }}" class="btn btn--facebook" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Facebook"><i class="fab fa-facebook" aria-hidden="true"></i><span> Facebook</span></a>

  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ base_path }}{{ page.url }}" class="btn btn--linkedin" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i><span> LinkedIn</span></a>

  <a href="https://service.weibo.com/share/share.php?url={{ base_path }}{{ page.url }}" class="btn btn--weibo" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Weibo"><i class="fab fa-weibo" aria-hidden="true"></i><span> Weibo</span></a>

<!-- 分享到微信（这里用生成二维码方式，需额外引入二维码生成库） -->
<button class="btn btn--wechat" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} WeChat" onclick="toggleWechatQRCode('{{ base_path }}{{ page.url }}')"><i class="fab fa-weixin" aria-hidden="true"></i><span> WeChat</span></button>
<div id="wechat-qr-code"></div>

<script type="text/javascript">
    let isQRCodeVisible = false;

    function toggleWechatQRCode(url) {
        const qrContainer = document.getElementById("wechat-qr-code");

        if (isQRCodeVisible) {
            while (qrContainer.firstChild) {
                qrContainer.removeChild(qrContainer.firstChild);
            }
            isQRCodeVisible = false;
        } else {
            while (qrContainer.firstChild) {
                qrContainer.removeChild(qrContainer.firstChild);
            }
            var qr = new QRCode(qrContainer, {
                text: url,
                width: 128,
                height: 128
            });
            isQRCodeVisible = true;
        }
    }
</script>
  
</section>
